gestures {
    hot-corners {
        off
    }
}

input {
    warp-mouse-to-focus

    // 台式机的 KVM/触控映射到 HDMI-A-1 已移除，本机无对应输出。
    keyboard {
        xkb {
            // 将 CapsLock 键映射为一个额外的 Super 键 (完美解决平板等无 Win 键设备的远程控制)
            options "caps:super"
        }

        numlock
    }
    touchpad {
        tap
        natural-scroll
        dwt  // 打字时禁用触摸板,强烈建议加
        dwtp // 打字时也禁用触摸板指针移动
    }
    mouse {
        accel-speed 0.0
    }
    trackpoint
}
